<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

<title>Application Submitted</title>
</head>

<style>
.gdpr-disclaimer {
  font-size: 0.8rem;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 500px;
  border-top: 1px solid #e0e0e0;

}
</style>

<body>

<form>
<h1>Thank you for Applying for the Course</h1>
<h2>Have a Great Day</h2> 
</form>

<footer class="gdpr-disclaimer">
“I agree that where BJC contribution to course fees for any one training course exceeds €500 in any twelve month period, 50% of the cost will be repaid by me in the following circumstances. I will repay this money if I fail to complete the course, if I fail the exams or should I decide to leave the organisation within twelve months of having completed the course to take up another position. These arrangements may be altered at the discretion of Management”.
</footer>
</body>
</html>