<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    
        <style>
.gdpr-disclaimer {
  font-size: 0.8rem;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 500px;
  border-top: 1px solid #e0e0e0;

}
</style>
    
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        <form th:action="@{/login}" method="post">
            <div><label> UserName: <input type="text" name="username"/></label></div>
            <div><label> Password: <input type="password" name="password"/></label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        
        <footer class="gdpr-disclaimer">
    “Ballymun Job Centre is committed to protecting the personal data of all our employees.
     All personal information recorded and stored in the BJC Staff Training Database, will 
     be held in accordance with General Data Protection Regulations (GDPR) and Data Protection Legislation”.
     </footer>
     
 
    </body>
    
</html>