{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container">
            <h1 class="display-4">
                Your applications
            </h1>
            <p class="lead">
                Total active applications: {{ total_applications }}  <!-- Corrected variable name -->
            </p>
        </div>
    </section>
    {% for app in applications %}
    <div class="card mt-3">
        <a href="{% url 'employee_training_application_details' app.id %}">
            <div class="card-body">
                <div class="media">
                    <img src="https://bulma.io/images/placeholders/96x96.png"
                         class="mr-3 rounded-circle" alt="Placeholder image" width="64" height="64">
                    <div class="media-body">
                        <h4 class="card-title">{{ app.employee_name }}</h4>
                        <p class="card-subtitle mb-2 text-muted">{{ app.employee_position }}</p>
                        <p class="card-text">{{ app.programme_name }}</p>
                        <p class="card-text">{{ app.training_provider }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
