{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="mb-4">{{ user|title }}'s Course Application List</h2>
    {% for application in applications %}
        <div class="card mb-4">
            <div class="card-body shadow-lg p-3 mb-2 bg-white rounded">
                <h4 class="card-title">Course Name: {{ application.training.programme_name }}</h4>
                {% if application.training.application_status == 'approved' %}
                    <h4>Status: <span class="btn btn-sm btn-success">Approved</span></h4>
                {% elif application.training.application_status == 'denied' %}
                    <h4>Status:
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#denyModal{{ application.id }}">Denied</button>
                    </h4>
                {% else %}
                    <h4>Status: <span class="btn btn-sm btn-secondary">Pending Approval</span></h4>
                {% endif %}
                
                {% if application.training.user == request.user.user %}
                    <a href="{% url 'edit_training_application' application.id %}" class="btn btn-sm btn-primary">Edit Application</a>
                    <a href="{% url 'delete_application' application.training.id %}" class="btn btn-sm btn-danger">Delete Application</a>
                {% endif %}
            </div>
        </div>

        <!-- Denial Explanation Modal -->
        <div class="modal fade" id="denyModal{{ application.id }}" tabindex="-1" role="dialog" aria-labelledby="denyModal{{ application.id }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Denial Explanation</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>{{ application.training.reason_for_denial }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No applications found.</p>
    {% endfor %}

    <a href="{% url 'course_application' %}" class="btn btn-primary">
        Add another application
    </a>

</div>

{% endblock content %}