
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    <title>Employee Registration</title>
</head>

<body>
    <div class="container"><h1>Register Employee</h1></div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="mgt-4 mr-5 button is-small is-link" type="submit">Register Employee</button>
        </form>
    </div>
    <footer class="gdpr-disclaimer">
        “Ballymun Job Centre is committed to protecting the personal data of all our employees.
        All personal information recorded and stored in the BJC Staff Training Database, will
        be held in accordance with General Data Protection Regulations (GDPR) and Data Protection Legislation”.
    </footer>
</body>
</html>