{% extends 'base.html' %}
{% block content %}
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		{% for field in form %}
			<div class="form-field">
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small>
	        	{% endif %}
			</div>
		{% endfor %}
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{% url 'home' %}" class="btn btn-outline" style="background-color: red; color: white;">Cancel</a>
		</div>
	</form>
</div>
<style>
	.form-field {
		margin-bottom: 10px;
	}
	.form-field label {
		font-size: 18px;
	}
	.form-field input,
	.form-field select {
		font-size: 16px;
		padding: 5px;
	}
	.form-field small {
		font-size: 14px;
		color: red;
	}
	.form-buttons {
		margin-top: 20px;
	}
	.btn {
		font-size: 16px;
		padding: 10px 20px;
	}
</style>
{% endblock content %}







