<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    {% comment %} <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"> {% endcomment %}
  </head>
  <body>
    <main>
        <h1>Welcome to My Website</h1> 
        <div>
            <button onclick="loadReportSalaryData()">Load Data</button><br>
            <table id="reportSalaryTable">
                <thead> <!--Overview Headers-->
                    <tr>
                        <th>Employee</th>
                        <th>Point on Scale</th>
                        <th>Funding Source</th>
                        <th>Annual Salary</th>
                        <th>Weekly Hours</th>
                        <!--<th>ER PRSI</th>-->
                        <!--<th>ER Pension</th>-->
                        <th>Weekly Gross</th>
                        <th>Total Weekly</th>
                        <th>Full Day</th>
                        <th>Half Day</th>
                        <th>Hourly Rate</th>
                    </tr>
                </thead>
                <tbody>
                {% comment %} {{ test }} {% endcomment %}
                {% for t in test %}
                    <tr>
                        <td>{{t.username_id}}</td>
                        <td>{{t.email}}</td>
                        <td>{{t.password}}</td>
                    </tr>
                    
    
                    
    
                {% endfor %}
                    <td>a</td>
                
    
                    
                    
                </tbody>
            </table>
        </div>
    </main>
	{% comment %} <script src="index.js"></script> {% endcomment %}
  </body>
</html>